header {
    --padding: 2rem;

    position: sticky;
    top: 0;

    padding: 0;

    & > div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > ul {
            display: none;

            list-style: none;
            gap: 30px;

            margin: 0;
            padding: 0;

            & > li {
                margin: 0;
                padding: 0;
                font-size: 1.4rem;

                & > a {
                    color: white;
                    display: inline-block;
                    padding: 0;
                    text-decoration: none;

                    &:hover {
                        color: var(--app-higlight-text);
                    }
                }
            }
        }
    }

    & a > * {
        border-radius: 1rem;
    }
}

@media (min-width: 1000px) {
    header {
        padding: var(--padding);
    }
}

@media (min-width: 450px) {
    header > div > ul {
        display: flex;
    }
}
