.board-dimension {
    max-width: 128px;
}

.board-dimension-inputs {
    display: flex;
    flex-direction: column;
}

.board-dimension-inputs > input {
    width: 100%;
}

.board-bomb {
    display: flex;
}

.board-bomb > * {
    width: 100%;
}
