:root {
    --background: #1c274c;

    --primary: #aa6c3c;
    --secondary: #dde9a1;

    --text-primary: white;
    --text-secondary: black;

    --duration-1: 0.15s;

    --hover-scale-transition: scale var(--duration-1) ease-in-out;
    --hover-scale: 1.1;
}
