.camera-container {
    position: absolute;
    top: 100%;
    left: -50%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: stretch;

    gap: 4px;

    width: 64px;
}
